​/*-----------Home feature section---------​*/
.checkout-cart-index .stick_container{display:none !important;}
.filter-wrapper,.page-wrapper >.logo > img.sticky-logo {
	display: none;
}

.category-product-actions  .filter-wrapper{display: none;}
.fotorama__caption{ display : none !important;}
.box-content{
	padding-bottom: 70px;
}
.page-title-heading > span.base{ color: red; }
.box-content-inner{
    color: #fff;
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0;
    position: relative;
}	
.box-content-inner-2{
    position: absolute;
    top: 50%;
    padding: 30px 0;
    transform: translateY(-50%);
    left: 40px;
    right: 40px;
}
.category-description{
	padding: 0 40px;
    font-size: 1.5em;
}
.cart-totals .mark , .cart-totals .price , .cart-totals .amount {  color : #fff !important; }	
.totals-tax { display : none;}
.page.messages { display: block !important;}
@media only screen and (max-width: 567px){
	.category-description{
		padding: 0 20px;
    		font-size: .9em;
	}
	.cart-container{
	    display: flex;
    	    flex-direction: column-reverse;	
	}
	.line{
	  flex-direction: column;
	}
	.small--hide {
    		display: none !important;
	}
}
@media only screen and (max-width: 5000px) and (min-width: 1200px){
.wide--hide {
    display: none !important;
}

}

/*hide contact icon*/
@media only screen and (max-width: 767px){
.contact-cohoma {
   display: none;
    }
}
@media only screen and (max-width: 767px){
.box-content-inner {
    padding: 10px;
}

.box_content_inner2 {
    padding: 0px 0;
    left: 30px;
    right: 30px;
	}
}

/*-------------FAQS section START--------------------*/
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    }
summary{
   padding: 10px;
}

details p{
	padding:10px;
}

details[open=""] summary {
    border-bottom: 1px solid #aaa;
     background-color: #ee3f60;	
    color:white;
    border-bottom:1px solid; 
}

/*-----------------FAQS section END*/

/*-------================   for_business_page   ===============--------*/
ul.why_cohoma {
    display: flex;
    padding: 0px;
    padding: 0px 15px;
}
ul.why_cohoma ul li {
    margin-bottom: 5px;
}
​
.for_business_info {
    width: 100%;
    color:#fff; 
}
.cohoma_table, .cohoma_form  {
    width: 50%;
}
.for_business_main_sec {
    display: flex;
}
​
.cohoma_form form{
    display: flex;
    flex-flow: column;
}
.cohoma_form input, .cohoma_form textarea{
    border: 1px solid #fff;
    padding: 10px 15px;
    margin-bottom: 5px;
    font-size: 15px;
}
​
ul.why_cohoma ul {
    width: 50%;
    padding: 0px 15px;
}
ul.why_cohoma ul li {
    list-style: disc;
}
.for_business_info p:first-child {
    /*margin-bottom: 45px;*/
}
.content_sec {
    padding: 0px 15px;
}
.for_business_info p:last-child {
    margin-bottom:30px;
}
.for_business_main_sec{
    margin-top: 30px;
    margin-bottom: 60px;
}
.cohoma_table td {
    border: 1px solid #fff;
    vertical-align: middle;
    padding:15px;
}
.cohoma_table td p{
margin:10px 0px !important;
    line-height:normal;
}
.cohoma_table, .cohoma_form {
    width: 50%;
    padding: 0px 15px;
}
.cohoma_form input, .cohoma_form textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 2px;
    background:white!important;
    box-sizing: border-box;
}
.cohoma_form input::placeholder, .cohoma_form textarea::placeholder{
    color:#181818;
}
​
.cohoma_form input::placeholder{
    font-family:'Josefin Sans';
}
.cohoma_table table{
    border-collapse: collapse;
    border-spacing: 0px;
    box-sizing: border-box;
}
​
button.enquiry_btn {
    padding: 15px;
    background: transparent;
    border: 1px solid #ee3f60;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
​
button.enquiry_btn::hover{
    background:#ee3f60;
}
​
form.enquiry_form{
    justify-content: space-between;
    width:100%
}
.cohoma_form {
    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 801px){
ul.why_cohoma ul {
    width: auto;
}
​
ul.why_cohoma {
    flex-flow: column;
}
ul.why_cohoma ul li {
    margin-bottom: 10px;
}
.for_business_main_sec {
    flex-flow: column;
    padding: 0px 15px;
}
.cohoma_table, .cohoma_form {
    width: 100%;
    padding: 0px;
}
​
.cohoma_table {
    margin-bottom: 25px;
}
​
/*-------================   for_business_page  END   ===============--------*/
​
/*-------================   privacy  ===============--------*/
​
.privacy_content p {
    margin-top: 40px;
}
​
/*-------================   privacy END   ===============--------*/
}

/*----------about-us Page Start---------*/
.grid__item {
    float: left;
    min-height: 1px;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img-section-desc.right-section{
    box-shadow: 20px 20px 20px 0 #242424;
    margin-left: -80px;
    background-color: black;
}

.img-section-desc.left-section {
    float: right;
    margin-right: -60px;
    position: relative;
    background-color: black;
}
.img-section-desc ul li {
    list-style-type: disc;
    margin-left: 10px;
    margin-bottom: 5px;
}

.img-section-desc {
    margin-top: 60px;
    padding: 40px;
    width: 430px;
}

.img-section-desc p {
    color: #ee3f60;
}

/*---------------media-query---------------*/
@media only screen and (max-width: 5000px) and (min-width: 1200px){
    .wide--one-half {
        width: 50%;
    }
}

@media screen and (max-width: 767px){
    .img-section-desc {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }
    .img-section-desc.right-section {
        margin-left: 0px;
    }
   .img-section-desc.left-section {
       margin-right: 0;
 	}
}

/*------header-mobile-css----------*/

@media(max-width: 991.98px){
header.page-header .header-area.active-sticky.active-sticky-mb{
    background-color: #1d1d1d;
}

}


/*---------hide addToCart Button-------------*/
body.dark-theme:not(.panel-popup) .products-grid .items .product-item .product-top .product-item-inner
{
	display: none !important;
}

/*---------HIde review ---------------*/

.product.info.detailed .product.data.items
{
	display: none !important;
}
.catalog-product-view .product-info-main .product-reviews-summary .reviews-actions
{
	display: none !important;
}

/*--------- hide filter from all product page ---------------*/

body.dark-theme:not(.panel-popup).page-layout-1column .block.filter.mgs-filter
{
	display: none !important;
}


/*----------------- Summary Page ------------------*/

body.dark-theme:not(.panel-popup) .opc-block-summary .items-in-cart

{
    min-height: 550px !important;
}

.opc-sidebar .opc-block-summary .minicart-items .product-item:not(:first-child), .opc-sidebar .opc-block-summary .minicart-items-wrapper

{
    max-height: 480px !important;
}

/*----------- Close --------------*/

/*------------- Order Summary page cost color ----------------*/

body.dark-theme:not(.panel-popup) #shopping-cart-table .col .price
{
	color: #ffffff !important;
}

body.dark-theme:not(.panel-popup) .opc-sidebar .opc-block-summary .minicart-items .product-item .product-item-details .price
{
	color: #ffffff !important;
}

/*----------- View and edit cart ---------------*/
.cart.table-wrapper .col.qty:before, .cart.table-wrapper .col.price:before, .cart.table-wrapper .col.subtotal:before, .cart.table-wrapper .col.msrp:before
{
	color: #ffffff !important;
}

/*------ On Product summary page ---------*/

#shopping-cart-table .item-options dd
{
	margin-left: 1% !important;
}